[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
nltk = "*"
numpy = "*"
flask = "*"
flask-cors = "*"
inflect = "*"
pytest = "*"
pandas = "*"
sklearn = "*"
keras = "*"
tensorflow = "*"
setuptools = "*"

[requires]
python_version = "3.7"
